{% extends "base.html" %}
{% load static %}
{% block title %}
Root
{% endblock  %}
{% block content %}
<div class="container mt-5">
    <h2>Registro en proceso</h2>
    <br>
    <br>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock  %}